<h3>Create Invoice</h3>

<form method="post">

<select name="customer_id">
{% for c in customers %}
<option value="{{ c.id }}">{{ c.name }}</option>
{% endfor %}
</select>

<div id="items"></div>

<button type="button" onclick="addItem()">Add Product</button>

<button>Create</button>

</form>

<script>
function addItem(){
document.getElementById("items").innerHTML += `
<select name="product_id[]">
{% for p in products %}
<option value="{{ p.id }}">{{ p.name }}</option>
{% endfor %}
</select>
<input name="quantity[]" placeholder="Qty">
`;
}
</script>
